.main {
  display: flex;
  justify-content: center;
}
.main-segment {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.todo-input {
  width: 450px;
}

.todo-items {
  margin-top: 24px !important;
}

.form-input {
  margin: 0 auto;
}

.item-options {
  display: flex;
  align-items: flex-end;
}

.edit-item {
  &:hover {
    color: darkgreen;
  }
}
.x-item {
  color: darkred;
  &:hover {
    color: blue;
  }
}

/* ***************************** */
/* *****Semantic UI classes***** */
/* ***************************** */

.header {
  margin-bottom: 28px !important;
}
.item {
  display: flex !important;
  width: 100%;
}

// flex .item-options to right edit/remove icons
.item div:last-child {
  margin-left: auto;
}

.checkbox {
  margin-right: 12px;
}
/* ***************************** */
/* ********* Universal ********* */
/* ***************************** */

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.mt-5 {
  margin-top: 5% !important;
}

.mt-10 {
  margin-top: 10% !important;
}
