.main {
  display: flex;
  justify-content: center;
}
.main-segment {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 600px;
}

.todo-input {
  width: 400px;
}

/* Universal */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
}
